In [2]:
!pip install quandl

Collecting quandl
  Downloading https://files.pythonhosted.org/packages/8b/2b/feefb36015beaecc5c0f9f2533e815b409621d9fa7b50b2aac621796f828/Quandl-3.6.1-py2.py3-none-any.whl
Requirement already satisfied: more-itertools in /usr/local/lib/python3.7/dist-packages (from quandl) (8.7.0)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from quandl) (2.23.0)
Collecting inflection>=0.3.1
  Downloading https://files.pythonhosted.org/packages/59/91/aa6bde563e0085a02a435aa99b49ef75b0a4b062635e606dab23ce18d720/inflection-0.5.1-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from quandl) (2.8.1)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.19.5)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.1.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.14->quandl) (2018.9)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.1 quandl-3.6.1

#***Pandas-Resampling and DataFrame***

#Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

#Fetching Data
Here we use the Quandl API to retrieve data.

In [3]:
import quandl
import numpy as np
import pandas as pd

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [4]:
quandl.ApiConfig.api_key = 'Dsu1c-wszL8yJt855z_S'
aapl_table = quandl.get('WIKI/AAPL')
aapl = aapl_table['Adj. Close']['2017']

In [5]:
print(aapl)

Date
2017-01-03    114.715378
2017-01-04    114.586983
2017-01-05    115.169696
2017-01-06    116.453639
2017-01-09    117.520300
                 ...
2017-12-22    175.010000
2017-12-26    170.570000
2017-12-27    170.600000
2017-12-28    171.080000
2017-12-29    169.230000
Name: Adj. Close, Length: 249, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [6]:
print(aapl['2017-3'])

Date
2017-03-01    138.657681
2017-03-02    137.834404
2017-03-03    138.647762
2017-03-06    138.211326
2017-03-07    138.389868
2017-03-08    137.874080
2017-03-09    137.556672
2017-03-10    138.012946
2017-03-13    138.072460
2017-03-14    137.864161
2017-03-15    139.322254
2017-03-16    139.550391
2017-03-17    138.856061
2017-03-20    140.314154
2017-03-21    138.707276
2017-03-22    140.274478
2017-03-23    139.778528
2017-03-24    139.500796
2017-03-27    139.738852
2017-03-28    142.635200
2017-03-29    142.952608
2017-03-30    142.764147
2017-03-31    142.496334
Name: Adj. Close, dtype: float64

Or in several consecutive months:

In [ ]:
aapl['2017-2':'2017-4']

Date
2017-02-01    249.2400
2017-02-02    251.5500
2017-02-03    251.3300
2017-02-06    257.7700
2017-02-07    257.4800
                ...
2017-04-24    308.0300
2017-04-25    313.7900
2017-04-26    310.1700
2017-04-27    308.6050
2017-04-28    314.0025
Name: Adj. Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [ ]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    216.99
2017-01-04    226.99
2017-01-05    226.75
2017-01-06    229.01
2017-01-09    231.28
Name: Adj. Close, dtype: float64
Date
2017-12-15    343.45
2017-12-18    338.87
2017-12-19    331.10
2017-12-20    328.98
2017-12-21    331.66
2017-12-22    325.20
2017-12-26    317.29
2017-12-27    311.64
2017-12-28    315.36
2017-12-29    311.35
Name: Adj. Close, dtype: float64

Resampling series.resample(freq) is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

series.resample.mean() is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [ ]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    239.320500
2017-02-28    263.711053
2017-03-31    258.156522
2017-04-30    304.753553
2017-05-31    316.508373
2017-06-30    365.803636
2017-07-31    328.808000
2017-08-31    350.856522
2017-09-30    357.857000
2017-10-31    344.683182
2017-11-30    310.482000
2017-12-31    322.841000
Freq: M, Name: Adj. Close, dtype: float64

We can also aggregate the data by week:

In [ ]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    224.9350
2017-01-15    231.6440
2017-01-22    240.6075
2017-01-29    252.6920
2017-02-05    250.9360
Freq: W-SUN, Name: Adj. Close, dtype: float64

In [ ]:
aapl.resample('M').max()

Date
2017-01-31    254.6100
2017-02-28    280.9800
2017-03-31    278.3000
2017-04-30    314.0025
2017-05-31    341.0100
2017-06-30    383.4500
2017-07-31    352.6200
2017-08-31    365.2200
2017-09-30    385.0000
2017-10-31    359.6500
2017-11-30    321.0800
2017-12-31    343.4500
Freq: M, Name: Adj. Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [ ]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()

Besides the mean() method, other methods can also be used with the resampler:

In [ ]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[1] - 1)
print(monthly_return)

Date
2017-01-31    0.109873
2017-02-28   -0.006202
2017-03-31    0.111067
2017-04-30    0.033923
2017-05-31    0.069366
2017-06-30    0.064028
2017-07-31   -0.011067
2017-08-31    0.092086
2017-09-30   -0.024286
2017-10-31   -0.047711
2017-11-30    0.032046
2017-12-31    0.020151
Freq: M, Name: Adj. Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [ ]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    251.9300
2017-02-28    249.9900
2017-03-31    278.3000
2017-04-30    314.0025
2017-05-31    341.0100
2017-06-30    361.6100
2017-07-31    323.4700
2017-08-31    355.9000
2017-09-30    341.1000
2017-10-31    331.5300
2017-11-30    308.8500
2017-12-31    311.3500
Freq: M, Name: Adj. Close, dtype: float64

In [ ]:
by_week = aapl.resample('W').mean()

In [ ]:
twomon = aapl.resample('2M').std()
twomon

Date
2017-01-31    11.525823
2017-03-31    11.674797
2017-05-31    10.348416
2017-07-31    22.035580
2017-09-30    13.434907
2017-11-30    19.989581
2018-01-31    13.180689
Freq: 2M, Name: Adj. Close, dtype: float64

In [ ]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
last_day

Date
2017-01-31    251.9300
2017-02-28    249.9900
2017-03-31    278.3000
2017-04-30    314.0025
2017-05-31    341.0100
2017-06-30    361.6100
2017-07-31    323.4700
2017-08-31    355.9000
2017-09-30    341.1000
2017-10-31    331.5300
2017-11-30    308.8500
2017-12-31    311.3500
Freq: M, Name: Adj. Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[1] - 1)
monthly_return

Date
2017-01-31    0.109873
2017-02-28   -0.006202
2017-03-31    0.111067
2017-04-30    0.033923
2017-05-31    0.069366
2017-06-30    0.064028
2017-07-31   -0.011067
2017-08-31    0.092086
2017-09-30   -0.024286
2017-10-31   -0.047711
2017-11-30    0.032046
2017-12-31    0.020151
Freq: M, Name: Adj. Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.03693951413150459
0.05311685080152667
0.11106675183647408

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change

In [ ]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31        NaN
2017-02-28    -1.9400
2017-03-31    28.3100
2017-04-30    35.7025
2017-05-31    27.0075
2017-06-30    20.6000
2017-07-31   -38.1400
2017-08-31    32.4300
2017-09-30   -14.8000
2017-10-31    -9.5700
2017-11-30   -22.6800
2017-12-31     2.5000
Freq: M, Name: Adj. Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28   -0.007701
2017-03-31    0.113245
2017-04-30    0.128288
2017-05-31    0.086010
2017-06-30    0.060409
2017-07-31   -0.105473
2017-08-31    0.100257
2017-09-30   -0.041585
2017-10-31   -0.028056
2017-11-30   -0.068410
2017-12-31    0.008095
Freq: M, Name: Adj. Close, dtype: float64

In [ ]:
print(aapl.describe())

count    250.000000
mean     314.352767
std       41.042165
min      216.990000
25%      295.115000
50%      317.680000
75%      347.262500
max      385.000000
Name: Adj. Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28   -0.007701
2017-03-31    0.113245
2017-04-30    0.128288
2017-05-31    0.086010
2017-06-30    0.060409
2017-07-31   -0.105473
2017-08-31    0.100257
2017-09-30   -0.041585
2017-10-31   -0.028056
2017-11-30   -0.068410
2017-12-31    0.008095
Freq: M, Name: Adj. Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31   -0.007701
2017-02-28   -0.007701
2017-03-31    0.113245
2017-04-30    0.128288
2017-05-31    0.086010
2017-06-30    0.060409
2017-07-31   -0.105473
2017-08-31    0.100257
2017-09-30   -0.041585
2017-10-31   -0.028056
2017-11-30   -0.068410
2017-12-31    0.008095
Freq: M, Name: Adj. Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by .dropna()

In [ ]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28   -0.007701
2017-03-31    0.113245
2017-04-30    0.128288
2017-05-31    0.086010
2017-06-30    0.060409
2017-07-31   -0.105473
2017-08-31    0.100257
2017-09-30   -0.041585
2017-10-31   -0.028056
2017-11-30   -0.068410
2017-12-31    0.008095
Freq: M, Name: Adj. Close, dtype: float64

DataFrame The DataFrame is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

Create DataFrames The most common method of creating a DataFrame is passing a dictionary:

In [ ]:
dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [ ]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [ ]:
print(df.columns)
print(df.AAPL)
print(df['GOOG'])

Index(['AAPL', 'GOOG', 'IBM'], dtype='object')
2017-07-03    143.50
2017-07-04    144.09
2017-07-05    142.73
2017-07-06    144.18
2017-07-07    143.77
Freq: D, Name: AAPL, dtype: float64
2017-07-03    898.70
2017-07-04    911.71
2017-07-05    906.69
2017-07-06    918.59
2017-07-07    926.99
Freq: D, Name: GOOG, dtype: float64

In [ ]:
df = aapl_table
print(df.Close.tail(5))
print(df['Adj. Volume'].tail(5))

Date
2018-03-21    316.53
2018-03-22    309.10
2018-03-23    301.54
2018-03-26    304.18
2018-03-27    279.18
Name: Close, dtype: float64
Date
2018-03-21     5927881.0
2018-03-22     4914307.0
2018-03-23     6600538.0
2018-03-26     8324639.0
2018-03-27    13696168.0
Name: Adj. Volume, dtype: float64

In [ ]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

              Open      High       Low  ...  Adj. Low  Adj. Close  Adj. Volume
Date                                    ...
2016-01-31  189.95  193.7400  188.0800  ...  188.0800      191.20    2852289.0
2016-02-29  192.40  196.3500  189.2220  ...  189.2220      191.93    4498997.0
2016-03-31  229.34  237.4200  225.0100  ...  225.0100      229.77    8012872.0
2016-04-30  248.14  248.4300  237.8100  ...  237.8100      240.76    5413787.0
2016-05-31  223.04  224.7497  221.5001  ...  221.5001      223.23    2789002.0
2016-06-30  212.97  213.4999  209.0200  ...  209.0200      212.28    4843111.0
2016-07-31  230.70  235.2800  230.2400  ...  230.2400      234.79    3070813.0
2016-08-31  210.43  212.6000  208.6500  ...  208.6500      212.01    3276548.0
2016-09-30  202.21  204.9800  199.5500  ...  199.5500      204.03    2586273.0
2016-10-31  202.49  202.4900  195.8100  ...  195.8100      197.73    4692273.0
2016-11-30  191.00  191.8900  187.5000  ...  187.5000      189.40    3547104.0
2016-12-31  216.30  217.5000  211.6800  ...  211.6800      213.69    4642620.0

[12 rows x 12 columns]

We may select certain columns of a DataFrame using their names:

In [ ]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

              Open      High       Low   Close
Date
2016-01-31  189.95  193.7400  188.0800  191.20
2016-02-29  192.40  196.3500  189.2220  191.93
2016-03-31  229.34  237.4200  225.0100  229.77
2016-04-30  248.14  248.4300  237.8100  240.76
2016-05-31  223.04  224.7497  221.5001  223.23
2016-06-30  212.97  213.4999  209.0200  212.28
2016-07-31  230.70  235.2800  230.2400  234.79
2016-08-31  210.43  212.6000  208.6500  212.01
2016-09-30  202.21  204.9800  199.5500  204.03
2016-10-31  202.49  202.4900  195.8100  197.73
2016-11-30  191.00  191.8900  187.5000  189.40
2016-12-31  216.30  217.5000  211.6800  213.69

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [ ]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

              Open      High       Low   Close
Date
2016-03-31  229.34  237.4200  225.0100  229.77
2016-04-30  248.14  248.4300  237.8100  240.76
2016-05-31  223.04  224.7497  221.5001  223.23
2016-06-30  212.97  213.4999  209.0200  212.28

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [ ]:
above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

              Open      High       Low   Close
Date
2016-03-31  229.34  237.4200  225.0100  229.77
2016-04-30  248.14  248.4300  237.8100  240.76
2016-05-31  223.04  224.7497  221.5001  223.23
2016-06-30  212.97  213.4999  209.0200  212.28
2016-07-31  230.70  235.2800  230.2400  234.79
2016-08-31  210.43  212.6000  208.6500  212.01
2016-12-31  216.30  217.5000  211.6800  213.69

Data Validation As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [ ]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

              Open      High       Low   Close  rate_return
Date
2016-01-31  189.95  193.7400  188.0800  191.20          NaN
2016-02-29  192.40  196.3500  189.2220  191.93     0.003818
2016-03-31  229.34  237.4200  225.0100  229.77     0.197155
2016-04-30  248.14  248.4300  237.8100  240.76     0.047830
2016-05-31  223.04  224.7497  221.5001  223.23    -0.072811
2016-06-30  212.97  213.4999  209.0200  212.28    -0.049053
2016-07-31  230.70  235.2800  230.2400  234.79     0.106039
2016-08-31  210.43  212.6000  208.6500  212.01    -0.097023
2016-09-30  202.21  204.9800  199.5500  204.03    -0.037640
2016-10-31  202.49  202.4900  195.8100  197.73    -0.030878
2016-11-30  191.00  191.8900  187.5000  189.40    -0.042128
2016-12-31  216.30  217.5000  211.6800  213.69     0.128247

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. isnull() provides a convenient way to check abnormal values.

In [ ]:
missing = aapl_bar.isnull()
print(missing)
print('\n------------------ separate line -----------------\n')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False

------------------ separate line -----------------

         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [ ]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method dropna() and fillna() can be applied to a DataFrame.

In [ ]:
drop = aapl_bar.dropna()
print(drop)
print('\n---------------------- separate line--------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

              Open      High       Low   Close  rate_return
Date
2016-02-29  192.40  196.3500  189.2220  191.93     0.003818
2016-03-31  229.34  237.4200  225.0100  229.77     0.197155
2016-04-30  248.14  248.4300  237.8100  240.76     0.047830
2016-05-31  223.04  224.7497  221.5001  223.23    -0.072811
2016-06-30  212.97  213.4999  209.0200  212.28    -0.049053
2016-07-31  230.70  235.2800  230.2400  234.79     0.106039
2016-08-31  210.43  212.6000  208.6500  212.01    -0.097023
2016-09-30  202.21  204.9800  199.5500  204.03    -0.037640
2016-10-31  202.49  202.4900  195.8100  197.73    -0.030878
2016-11-30  191.00  191.8900  187.5000  189.40    -0.042128
2016-12-31  216.30  217.5000  211.6800  213.69     0.128247

---------------------- separate line--------------------

              Open      High       Low   Close  rate_return
Date
2016-01-31  189.95  193.7400  188.0800  191.20     0.000000
2016-02-29  192.40  196.3500  189.2220  191.93     0.003818
2016-03-31  229.34  237.4200  225.0100  229.77     0.197155
2016-04-30  248.14  248.4300  237.8100  240.76     0.047830
2016-05-31  223.04  224.7497  221.5001  223.23    -0.072811
2016-06-30  212.97  213.4999  209.0200  212.28    -0.049053
2016-07-31  230.70  235.2800  230.2400  234.79     0.106039
2016-08-31  210.43  212.6000  208.6500  212.01    -0.097023
2016-09-30  202.21  204.9800  199.5500  204.03    -0.037640
2016-10-31  202.49  202.4900  195.8100  197.73    -0.030878
2016-11-30  191.00  191.8900  187.5000  189.40    -0.042128
2016-12-31  216.30  217.5000  211.6800  213.69     0.128247

DataFrame Concat We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function concat() allows us to merge multiple Series into a DataFrame:

In [ ]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    5.253320
2016-02-29    5.257131
2016-03-31    5.437079
2016-04-30    5.483801
2016-05-31    5.408203
2016-06-30    5.357906
2016-07-31    5.458691
2016-08-31    5.356633
2016-09-30    5.318267
2016-10-31    5.286902
2016-11-30    5.243861
2016-12-31    5.364526
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

              Open      High       Low   Close  rate_return  log_price
Date
2016-01-31  189.95  193.7400  188.0800  191.20          NaN   5.253320
2016-02-29  192.40  196.3500  189.2220  191.93     0.003818   5.257131
2016-03-31  229.34  237.4200  225.0100  229.77     0.197155   5.437079
2016-04-30  248.14  248.4300  237.8100  240.76     0.047830   5.483801
2016-05-31  223.04  224.7497  221.5001  223.23    -0.072811   5.408203
2016-06-30  212.97  213.4999  209.0200  212.28    -0.049053   5.357906
2016-07-31  230.70  235.2800  230.2400  234.79     0.106039   5.458691
2016-08-31  210.43  212.6000  208.6500  212.01    -0.097023   5.356633
2016-09-30  202.21  204.9800  199.5500  204.03    -0.037640   5.318267
2016-10-31  202.49  202.4900  195.8100  197.73    -0.030878   5.286902
2016-11-30  191.00  191.8900  187.5000  189.40    -0.042128   5.243861
2016-12-31  216.30  217.5000  211.6800  213.69     0.128247   5.364526

We can also join two DataFrames by rows. Consider these two DataFrames:

In [ ]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Split Ratio']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Split Ratio
Date
2016-10-31  4692273.0          1.0
2016-11-30  3547104.0          1.0
2016-12-31  4642620.0          1.0
2017-01-31  4116104.0          1.0
2017-02-28  6078145.0          1.0
2017-03-31  3294640.0          1.0
2017-04-30  4447619.0          1.0

---------------------- separate line--------------------

              Open    High       Low     Close
Date
2016-10-31  202.49  202.49  195.8100  197.7300
2016-11-30  191.00  191.89  187.5000  189.4000
2016-12-31  216.30  217.50  211.6800  213.6900
2017-01-31  249.24  255.89  247.7000  251.9300
2017-02-28  244.19  251.00  243.9000  249.9900
2017-03-31  278.73  279.68  276.3197  278.3000
2017-04-30  309.83  314.80  308.0000  314.0025

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [ ]:
concat = pd.concat([aapl_bar,df_volume],axis = 1)
print(concat)

              Open      High       Low  ...  rate_return     Volume  Split Ratio
Date                                    ...
2016-01-31  189.95  193.7400  188.0800  ...          NaN        NaN          NaN
2016-02-29  192.40  196.3500  189.2220  ...     0.003818        NaN          NaN
2016-03-31  229.34  237.4200  225.0100  ...     0.197155        NaN          NaN
2016-04-30  248.14  248.4300  237.8100  ...     0.047830        NaN          NaN
2016-05-31  223.04  224.7497  221.5001  ...    -0.072811        NaN          NaN
2016-06-30  212.97  213.4999  209.0200  ...    -0.049053        NaN          NaN
2016-07-31  230.70  235.2800  230.2400  ...     0.106039        NaN          NaN
2016-08-31  210.43  212.6000  208.6500  ...    -0.097023        NaN          NaN
2016-09-30  202.21  204.9800  199.5500  ...    -0.037640        NaN          NaN
2016-10-31  202.49  202.4900  195.8100  ...    -0.030878  4692273.0          1.0
2016-11-30  191.00  191.8900  187.5000  ...    -0.042128  3547104.0          1.0
2016-12-31  216.30  217.5000  211.6800  ...     0.128247  4642620.0          1.0
2017-01-31     NaN       NaN       NaN  ...          NaN  4116104.0          1.0
2017-02-28     NaN       NaN       NaN  ...          NaN  6078145.0          1.0
2017-03-31     NaN       NaN       NaN  ...          NaN  3294640.0          1.0
2017-04-30     NaN       NaN       NaN  ...          NaN  4447619.0          1.0

[16 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join':

In [ ]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

              Open    High     Low   Close  rate_return     Volume  Split Ratio
Date
2016-10-31  202.49  202.49  195.81  197.73    -0.030878  4692273.0          1.0
2016-11-30  191.00  191.89  187.50  189.40    -0.042128  3547104.0          1.0
2016-12-31  216.30  217.50  211.68  213.69     0.128247  4642620.0          1.0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [ ]:
append = aapl_bar.append(df_2017)
print(append)

              Open      High       Low     Close  rate_return
Date
2016-01-31  189.95  193.7400  188.0800  191.2000          NaN
2016-02-29  192.40  196.3500  189.2220  191.9300     0.003818
2016-03-31  229.34  237.4200  225.0100  229.7700     0.197155
2016-04-30  248.14  248.4300  237.8100  240.7600     0.047830
2016-05-31  223.04  224.7497  221.5001  223.2300    -0.072811
2016-06-30  212.97  213.4999  209.0200  212.2800    -0.049053
2016-07-31  230.70  235.2800  230.2400  234.7900     0.106039
2016-08-31  210.43  212.6000  208.6500  212.0100    -0.097023
2016-09-30  202.21  204.9800  199.5500  204.0300    -0.037640
2016-10-31  202.49  202.4900  195.8100  197.7300    -0.030878
2016-11-30  191.00  191.8900  187.5000  189.4000    -0.042128
2016-12-31  216.30  217.5000  211.6800  213.6900     0.128247
2016-10-31  202.49  202.4900  195.8100  197.7300          NaN
2016-11-30  191.00  191.8900  187.5000  189.4000          NaN
2016-12-31  216.30  217.5000  211.6800  213.6900          NaN
2017-01-31  249.24  255.8900  247.7000  251.9300          NaN
2017-02-28  244.19  251.0000  243.9000  249.9900          NaN
2017-03-31  278.73  279.6800  276.3197  278.3000          NaN
2017-04-30  309.83  314.8000  308.0000  314.0025          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

              Open      High       Low     Close  rate_return
Date
2016-01-31  189.95  193.7400  188.0800  191.2000          NaN
2016-02-29  192.40  196.3500  189.2220  191.9300     0.003818
2016-03-31  229.34  237.4200  225.0100  229.7700     0.197155
2016-04-30  248.14  248.4300  237.8100  240.7600     0.047830
2016-05-31  223.04  224.7497  221.5001  223.2300    -0.072811
2016-06-30  212.97  213.4999  209.0200  212.2800    -0.049053
2016-07-31  230.70  235.2800  230.2400  234.7900     0.106039
2016-08-31  210.43  212.6000  208.6500  212.0100    -0.097023
2016-09-30  202.21  204.9800  199.5500  204.0300    -0.037640
2016-10-31  202.49  202.4900  195.8100  197.7300    -0.030878
2016-11-30  191.00  191.8900  187.5000  189.4000    -0.042128
2016-12-31  216.30  217.5000  211.6800  213.6900     0.128247
2016-10-31  202.49  202.4900  195.8100  197.7300          NaN
2016-11-30  191.00  191.8900  187.5000  189.4000          NaN
2016-12-31  216.30  217.5000  211.6800  213.6900          NaN
2017-01-31  249.24  255.8900  247.7000  251.9300          NaN
2017-02-28  244.19  251.0000  243.9000  249.9900          NaN
2017-03-31  278.73  279.6800  276.3197  278.3000          NaN
2017-04-30  309.83  314.8000  308.0000  314.0025          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [ ]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

              Open      High       Low     Close  rate_return  Change
Date
2016-01-31  189.95  193.7400  188.0800  191.2000          NaN     NaN
2016-02-29  192.40  196.3500  189.2220  191.9300     0.003818     NaN
2016-03-31  229.34  237.4200  225.0100  229.7700     0.197155     NaN
2016-04-30  248.14  248.4300  237.8100  240.7600     0.047830     NaN
2016-05-31  223.04  224.7497  221.5001  223.2300    -0.072811     NaN
2016-06-30  212.97  213.4999  209.0200  212.2800    -0.049053     NaN
2016-07-31  230.70  235.2800  230.2400  234.7900     0.106039     NaN
2016-08-31  210.43  212.6000  208.6500  212.0100    -0.097023     NaN
2016-09-30  202.21  204.9800  199.5500  204.0300    -0.037640     NaN
2016-10-31  202.49  202.4900  195.8100  197.7300    -0.030878     NaN
2016-11-30  191.00  191.8900  187.5000  189.4000    -0.042128     NaN
2016-12-31  216.30  217.5000  211.6800  213.6900     0.128247     NaN
2016-10-31     NaN  202.4900  195.8100  197.7300          NaN  202.49
2016-11-30     NaN  191.8900  187.5000  189.4000          NaN  191.00
2016-12-31     NaN  217.5000  211.6800  213.6900          NaN  216.30
2017-01-31     NaN  255.8900  247.7000  251.9300          NaN  249.24
2017-02-28     NaN  251.0000  243.9000  249.9900          NaN  244.19
2017-03-31     NaN  279.6800  276.3197  278.3000          NaN  278.73
2017-04-30     NaN  314.8000  308.0000  314.0025          NaN  309.83

In [ ]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

              Open      High       Low     Close  rate_return  Change
Date
2016-01-31  189.95  193.7400  188.0800  191.2000          NaN     NaN
2016-02-29  192.40  196.3500  189.2220  191.9300     0.003818     NaN
2016-03-31  229.34  237.4200  225.0100  229.7700     0.197155     NaN
2016-04-30  248.14  248.4300  237.8100  240.7600     0.047830     NaN
2016-05-31  223.04  224.7497  221.5001  223.2300    -0.072811     NaN
2016-06-30  212.97  213.4999  209.0200  212.2800    -0.049053     NaN
2016-07-31  230.70  235.2800  230.2400  234.7900     0.106039     NaN
2016-08-31  210.43  212.6000  208.6500  212.0100    -0.097023     NaN
2016-09-30  202.21  204.9800  199.5500  204.0300    -0.037640     NaN
2016-10-31  202.49  202.4900  195.8100  197.7300    -0.030878     NaN
2016-11-30  191.00  191.8900  187.5000  189.4000    -0.042128     NaN
2016-12-31  216.30  217.5000  211.6800  213.6900     0.128247     NaN
2016-10-31     NaN  202.4900  195.8100  197.7300          NaN  202.49
2016-11-30     NaN  191.8900  187.5000  189.4000          NaN  191.00
2016-12-31     NaN  217.5000  211.6800  213.6900          NaN  216.30
2017-01-31     NaN  255.8900  247.7000  251.9300          NaN  249.24
2017-02-28     NaN  251.0000  243.9000  249.9900          NaN  244.19
2017-03-31     NaN  279.6800  276.3197  278.3000          NaN  278.73
2017-04-30     NaN  314.8000  308.0000  314.0025          NaN  309.83

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.